:host {
  .loader {
    height: 4em;
    display: block;
    line-height: 4em;
    text-align: center;
    position: relative;
  }
  .loader:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 2px;
    background: red;
    animation: loader-animation 2s ease-out infinite;
  }
  @keyframes loader-animation {
    0% {
      transform: translate(0%);
    }
    100% {
      transform: translate(500%);
    }
  }
}
