@import '../../variables';
:host {
  display: block;
  border-bottom: 1px solid $border-color;
  background: white;
  font-size: 1em;
  padding: 20px;
  height: 100px;
  line-height: 1.2em;
  overflow: hidden;
}

.avatar {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  margin-top: 5px;
  display: inline-block;
  border-radius: 100%;
  background: $primary-color;
  color: $primary-text;
}

.item-content {
  display: inline-block;
  width: calc(100% - 60px);
  padding: 5px;
  vertical-align: middle;
  div {
    opacity: .6;
  }
  .name {
    display: inline-block;
    font-weight: bold;
    opacity: 1;
  }
  .badge {
    opacity: 1;
  }
}
