:host {
  display: block;
  border-bottom: 1px solid rgb(209, 218, 223);
  background: white;
  font-size: 1em;
  padding: 20px;
  line-height: 1.2em;
  overflow: hidden;
  height: 100px;

  &.inline {
    width: 450px;
    border-left: 1px solid rgb(209, 218, 223);
    display: inline-block !important;
  }
}

.avatar {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  margin-top: 5px;
  display: inline-block;
  border-radius: 100%;
  background: #3d4f5d;
  color: #fff;
}

.item-content {
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
  div {
    opacity: .6;
  }
  .name {
    display: inline-block;
    font-weight: bold;
    opacity: 1;
  }
  .badge {
    opacity: 1;
  }
}
