@import '../../variables';
:host {
  virtual-scroll {
    background: #ebf1f5;
  }
  list-item {
    /*width: calc(34% - 18px);*/
    width: 220px;
    margin: 2px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid $border-color;
    vertical-align: top;
    height: 150px;
  }
}
