@import '../../variables';
:host {
  list-item {
    width: calc(50% - 18px);
    margin: 2px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid $border-color;
    vertical-align: top;
    height: 100px;
  }
}
