<div class="posts">
  <!-- A single blog post -->
  <section class="post">
    <h1 class="content-subhead">About</h1>
    <header class="post-header">
      <h2 class="post-title"><span>About</span> Virtual Scroll</h2>
    </header>
    <div class="post-description">
      <p>
        This module displays a small subset of records just enough to fill the viewport and uses the same DOM elements as the user
        scrolls. This method is effective because the number of DOM elements are always constant and tiny irrespective
        of the size of the list. Thus virtual scroll can display infinitely growing list of items in an efficient
        way.
      </p>
      Read instructions on <a href="https://github.com/rintoj/angular2-virtual-scroll">GitHub</a>
    </div>
  </section>
</div>
