<div class="posts" id="api">
  <section class="post">
    <header class="post-header">
      <h2 class="post-title">API</h2>
    </header>
    <table class="pure-table pure-table-striped">
      <tr>
        <th>Attribute</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>items</td>
        <td>any[]</td>
        <td>
          The data that builds the templates within the virtual scroll. This is the same data that you'd pass to ngFor.
          It's important to note that when this data has changed, then the entire virtual scroll is refreshed.
        </td>
      </tr>
      <tr>
        <td>childWidth</td>
        <td>number</td>
        <td>
          The minimum width of the item template's cell. This dimension is used to help determine how many cells should
          be created when initialized, and to help calculate the height of the scrollable area. Note that the actual
          rendered size of the first cell is used by default if not specified.
        </td>
      </tr>
      <tr>
        <td>childHeight</td>
        <td>number</td>
        <td>
          The minimum height of the item template's cell. This dimension is used to help determine how many cells should
          be created when initialized, and to help calculate the height of the scrollable area. Note that the actual
          rendered size of the first cell is used by default if not specified.
        </td>
      </tr>
      <tr>
        <td>update</td>
        <td> Event</td>
        <td>
          This event is fired every time start or end index change and emits list of items from start to end. The list
          emitted by this event must be used with *ngFor to render the actual list of items within virtual-scroll
        </td>
      </tr>
      <tr>
        <td>change</td>
        <td>Event</td>
        <td>
          This event is fired every time start or end index change and emits ChangeEvent which of format: {{'{'}} start: number,
          end: number {{'}'}}
        </td>
      </tr>
    </table>
  </section>
  <section class="post">
    <h2>Items with variable size</h2>
    Items must have fixed height and width for this module to work perfectly. However if your list happen to have items with
    variable width and height, set
    <strong>childWidth</strong> and <strong>childHeight</strong> to the smallest possible values manually to make this
    work.
    <pre><code class="typescript">
      &lt;virtual-scroll [items]="items" (update)="viewPortItems = $event"
          [childWidth]="80"
          [childHeight]="30"&gt;
          &lt;list-item *ngFor="let item of viewPortItems" [item]="item"&gt;
          &lt;/list-item&gt;
      &lt;/virtual-scroll&gt;
    </code></pre>
  </section>
  <section class="post">
    <h2>If container size change</h2>
    If virtual scroll is used within a dropdown or collapsible menu, virtual scroll needs to know when the container size change.
    Use <strong>refresh()</strong> function after container is resized (include time for animation as well).
    <pre><code class="typescript">
      import {{'{'}} Component, ViewChild {{'}'}} from '@angular/core';
      import {{'{'}} VirtualScrollComponent {{'}'}} from 'angular2-virtual-scroll';

      @Component({{'{'}}
          selector: 'rj-list',
          template: `
              &lt;virtual-scroll [items]="items" (update)="scrollList = $event"&gt;
                  &lt;div *ngFor="let item of scrollList; let i = index"&gt; {{'{'}}{{'{'}}i{{'}'}}{{'}'}}: {{'{'}}{{'{'}}item{{'}'}}{{'}'}} &lt;/div&gt;
              &lt;/virtual-scroll&gt;
          `
      {{'}'}})
      export class ListComponent {{'{'}}

          protected items = ['Item1', 'Item2', 'Item3'];

          @ViewChild(VirtualScrollComponent)
          private virtualScroll: VirtualScrollComponent;

          // call this function after resize + animation end
          afterResize() {{'{'}}
              this.virtualScroll.refresh();
          {{'}'}}
      {{'}'}}
    </code></pre>
  </section>
  <section id="versions">
    <h1>Versions</h1>
    <p>
      <a href="https://github.com/rintoj/angular2-virtual-scroll/blob/master/CHANGELOG.md">Check Changelog</a>
    </p>
  </section>
  <section>
    <h1>License</h1>
    <p>The MIT License (MIT) Copyright (c) 2016 Rinto Jose (rintoj)</p>
  </section>
</div>
