<style>
  ::ng-deep virtual-scroller.selfScroll {
    border: 1px solid rgb(209, 218, 223);
  }
  ::ng-deep virtual-scroller.selfScroll.vertical {
    height: 75vh;
  }

  ::ng-deep virtual-scroller.selfScroll.horizontal {
    width: 60vw;
    height: 120px;
  }
</style>

<div class="posts" id="samples">
  <h1 class="content-subhead">Samples</h1>
  <section class="post">
    <header class="post-header">
      <h2 class="post-title"><span>Live</span> Samples</h2>
    </header>
    <div class="post-description">
      <h2>With <span>Single Column</span></h2>
      <app-vertical-list [items]="items"></app-vertical-list>

      <h2>With <span>Horizontal List</span></h2>
      <app-horizontal-list [items]="items"></app-horizontal-list>

      <h2>With <span>RTL Horizontal List</span></h2>
      <app-horizontal-list [items]="items" [rtl]="true"></app-horizontal-list>

      <h2>With <span>Multiple Columns</span></h2>
      <app-multi-col-list [items]="items"></app-multi-col-list>

      <h2>With <span>HTML Table</span></h2>
      <app-table-list [items]="items"></app-table-list>

      <h2>Loading in <span>Chunks</span></h2>
      <app-list-with-api [items]="items"></app-list-with-api>
    </div>
  </section>
</div>
