<style>
  ::ng-deep virtual-scroller.selfScroll {
    border: 1px solid rgb(209, 218, 223);
  }
  ::ng-deep virtual-scroller.selfScroll.vertical {
    height: 75vh;
  }

  ::ng-deep virtual-scroller.selfScroll.horizontal {
    width: 60vw;
    height: 120px;
  }
</style>

<div class="posts" id="samples">
  <h1 class="content-subhead">Samples</h1>
  <section class="post">
    <header class="post-header">
      <h2 class="post-title"><span>Live</span> Samples</h2>
    </header>
    <div class="post-description">
      <h2>With <span>Single Column</span></h2>
      <vertical-list [items]="items"></vertical-list>

      <h2>With <span>Reverse Single Column (Chat style)</span></h2>
      <vertical-list [items]="items" [reverse]="true"></vertical-list>

      <h2>With <span>Horizontal List</span></h2>
      <horizontal-list [items]="items"></horizontal-list>

      <h2>With <span>Reverse (RTL) Horizontal List</span></h2>
      <horizontal-list [items]="items" [reverse] = "true"></horizontal-list>

      <h2>With <span>Multiple Columns</span></h2>
      <multi-col-list [items]="items"></multi-col-list>

      <h2>With <span>HTML Table</span></h2>
      <table-list [items]="items"></table-list>

      <h2>Loading in <span>Chunks</span></h2>
      <list-with-api [items]="items"></list-with-api>
    </div>
  </section>
</div>
