virtual-scroll {
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid #dce2e6;
  width: calc(100% - 25px);
  height: 288px;
  display: block;
  padding: 10px;
}

.status {
  padding: 10px 0px;
}

.badge {
  font-size: .6em;
  color: white;
  background: #FF9800;
  padding: 2px 4px;
  border-radius: 3px;
  vertical-align: middle;
}
