@import '../variables';
virtual-scroll {
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid $border-color;
  width: calc(100% - 25px);
  height: 75vh;
  display: block;
}

.status {
  padding: 10px 0px;
}

.badge {
  font-size: .6em;
  color: $primary-text;
  background: $accent-color;
  padding: 2px 4px;
  border-radius: 3px;
  vertical-align: middle;
  width: 23px;
  text-align: center;
  display: inline-block;
}
