@import '../variables';
virtual-scroll,
[virtualScroll] {
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid $border-color;
  height: 75vh;
  display: block;

  &.horizontal-scroll {
    width: 60vw;
    height: 150px;
  }
}


