<section class="header parallax">
  <div class="section-content content content-bottom">
    <h1>
      <span>Virtual Scroll</span>
    </h1>
    <div>Virtual Scroll displays a virtual, "infinite" list.</div>
  </div>
</section>
<section>
  An array of records is passed to the virtual scroll containing the data to create templates for. The template created for
  each record, referred to as a cell, can consist of items, headers, and footers. For performance reasons, not every record
  in the list is rendered at once; instead a small subset of records (enough to fill the viewport) are rendered and reused
  as the user scrolls.
</section>
