<div id="layout" class="pure-g">
  <div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
      <h1 class="brand-title">Virtual Scroll</h1>
      <h2 class="brand-tagline">an "infinite" list for angular 2</h2>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="pure-button" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="pure-button" routerLink="/demo">Demo</a>
          </li>
          <li class="nav-item">
            <a class="pure-button" routerLink="/samples">Samples</a>
          </li>
          <li class="nav-item">
            <a class="pure-button" routerLink="/parentScroll">Parent Scroll</a>
          </li>
        </ul>
      </nav>
      <div class="author">
        <div>Rinto Jose <span>(rintoj)</span></div>
        <div>
          <a href="https://github.com/rintoj">GitHub</a> |
          <a href="https://www.facebook.com/rinto.jose">Facebook</a> |
          <a href="https://twitter.com/rintoj">Twitter</a> |
          <a href="https://youtube.com/+RintoJoseMankudy">YouTube</a>
        </div>
      </div>
    </div>
  </div>
  <div class="content pure-u-1 pure-u-md-2-4">
    <div>
      <router-outlet></router-outlet>
    </div>
    <div class="footer">
      <div class="pure-menu pure-menu-horizontal">
        <strong>Rinto Jose (rintoj)</strong>
        <ul>
          <li class="pure-menu-item"><a class="pure-menu-link" href="https://github.com/rintoj">Github</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="https://www.facebook.com/rinto.jose">Facebook</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="https://twitter.com/rintoj">Twitter</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="https://youtube.com/+RintoJoseMankudy">YouTube</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
