$primary-color: #3d4f5d;
$primary-text: #fff;
$dark-text:#015601;
$secondary-text: #2c3e50;
$accent-color: #5b8796;
$border-color: rgb(209, 218, 223);
$semi-transparent: rgba(242, 242, 246, 0.98);
$hover-color: rgba(232, 232, 232, 0.29);
