<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A infinite virtual scroll for angular 2">
  <title>angular2-virtual-scroll [@rintoj]</title>
  <link rel="stylesheet" href="assets/css/pure-min.css">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/grids-responsive-old-ie-min.css">
<![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="assets/css/grids-responsive-min.css">
  <!--<![endif]-->
  <!--[if lte IE 8]>
        <link rel="stylesheet" href="assets/css/layouts/blog-old-ie.css">
    <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="assets/fonts/Source_Sans_Pro/stylesheet.css">
  <link rel="stylesheet" href="assets/css/simplegrid.css">
  <link rel="stylesheet" href="assets/highlight/styles/atom-one-dark.css">
  <script src="assets/highlight/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <link rel="stylesheet" href="assets/css/layouts/blog.css">
  <!--<![endif]-->
</head>

<body>
  <div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
      <div class="header">
        <h1 class="brand-title">Virtual Scroll</h1>
        <h2 class="brand-tagline">an "infinite" list for angular 2</h2>
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="pure-button" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="pure-button" href="#demo">Demo</a>
            </li>
            <li class="nav-item">
              <a class="pure-button" href="#samples">Samples</a>
            </li>
          </ul>
        </nav>
        <div class="author">
          <div>Rinto Jose <span>(rintoj)</span></div>
          <div>
            <a href="https://github.com/rintoj">GitHub</a> |
            <a href="https://www.facebook.com/rinto.jose">Facebook</a> |
            <a href="https://twitter.com/rintoj">Twitter</a> |
            <a href="https://youtube.com/+RintoJoseMankudy">YouTube</a>
          </div>
        </div>
      </div>
    </div>
    <div class="content pure-u-1 pure-u-md-2-4">
      <div>
        <!-- A wrapper for all the blog posts -->
        <div class="posts" id="about">
          <!-- A single blog post -->
          <section class="post">
            <h1 class="content-subhead">About</h1>
            <header class="post-header">
              <h2 class="post-title"><span>About</span> Virtual Scroll</h2>
            </header>
            <div class="post-description">
              <p>
                This module displays a small subset of records just enough to fill the viewport and uses the same DOM elements as the user
                scrolls. This method is effective because the number of DOM elements are always constant and tiny irrespective
                of the size of the list. Thus virtual scroll can display infinitely growing list of items in an efficient
                way.
              </p>
              <ul>
                <li>Angular 2 compatible module</li>
                <li>Supports multicolumn</li>
                <li>Easy to use apis</li>
                <li>OpenSource and available in <a href="https://github.com/rintoj/angular2-virtual-scroll">GitHub</a></li>
              </ul>
            </div>
          </section>
          <section class="post">
            <header class="post-header">
              <h2 class="post-title">Install</h2>
            </header>
            <div class="post-description">
              <pre><code>npm install angular2-virtual-scroll --save</code></pre>
            </div>
          </section>
          <section class="post">
            <header class="post-header">
              <h2 class="post-title">Usage</h2>
            </header>
            <h2>Step 1:</h2> After installation, import virtual scroll module into your app module
            <pre><code class="javascript">....
import { VirtualScrollModule } from 'angular2-virtual-scroll';
....
@NgModule({
    ...
    imports: [
        ....
        VirtualScrollModule
    ],
    ....
})
export class AppModule { }</code></pre>
            <h2>Step 2:</h2> Wrap virtual-scroll tag around list items;
            <pre><code class="typescript">&lt;virtual-scroll [items]="items" (update)="viewPortItems = $event"&gt;
    &lt;list-item *ngFor="let item of viewPortItems" [item]="item"&gt;
    &lt;/list-item&gt;
&lt;/virtual-scroll&gt;</code></pre>
            Input would be <strong>items</strong> and an updated list will be passed on through <strong>update</strong> event
          </section>
        </div>
      </div>
      <div class="posts" id="demo">
        <h1 class="content-subhead">Demo</h1>
        <section class="post">
          <header class="post-header">
            <a class="post-avatar" href="https://youtu.be/WKHjvyGF-hM" target="_blank"><img width="30" height="30" src="assets/images/youtube-128.png"></a>
            <h2 class="post-title">Demo</h2>
          </header>
          <div class="post-description">
            <div class="post-images pure-g">
              <video src="assets/video/video.mp4" controls loop autoplay></video>
            </div>
          </div>
        </section>
      </div>
      <div class="posts" id="samples">
        <h1 class="content-subhead">Samples</h1>
        <section class="post">
          <header class="post-header">
            <h2 class="post-title"><span>Live</span> Samples</h2>
          </header>
          <div class="post-description">
            <app-root>Loading...</app-root>
          </div>
        </section>
      </div>
      <div class="posts" id="api">
        <section class="post">
          <header class="post-header">
            <h2 class="post-title">API</h2>
          </header>
          <table class="pure-table pure-table-striped">
            <tr>
              <th>Attribute</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
            <tr>
              <td>items</td>
              <td>any[]</td>
              <td>The data that builds the templates within the virtual scroll. This is the same data that you'd pass to ngFor.
                It's important to note that when this data has changed, then the entire virtual scroll is refreshed.</td>
            </tr>
            <tr>
              <td>childWidth</td>
              <td>number</td>
              <td>The minimum width of the item template's cell. This dimension is used to help determine how many cells should
                be created when initialized, and to help calculate the height of the scrollable area. Note that the actual
                rendered size of the first cell is used by default if not specified.</td>
            </tr>
            <tr>
              <td>childHeight</td>
              <td>number</td>
              <td>The minimum height of the item template's cell. This dimension is used to help determine how many cells should
                be created when initialized, and to help calculate the height of the scrollable area. Note that the actual
                rendered size of the first cell is used by default if not specified.</td>
            </tr>
            <tr>
              <td>update</td>
              <td> Event</td>
              <td>This event is fired every time start or end index change and emits list of items from start to end. The list
                emitted by this event must be used with *ngFor to render the actual list of items within virtual-scroll
              </td>
            </tr>
            <tr>
              <td>change</td>
              <td>Event</td>
              <td>This event is fired every time start or end index change and emits ChangeEvent which of format: { start: number,
                end: number }</td>
            </tr>
          </table>
        </section>
        <section class="post">
          <h2>Items with variable size</h2>
          Items must have fixed height and width for this module to work perfectly. However if your list happen to have items with
          variable width and height, set
          <strong>childWidth</strong> and <strong>childHeight</strong> to the smallest possible values manually to make this
          work.
          <pre><code class="typescript">&lt;virtual-scroll [items]="items" (update)="viewPortItems = $event"
    [childWidth]="80"
    [childHeight]="30"&gt;
    &lt;list-item *ngFor="let item of viewPortItems" [item]="item"&gt;
    &lt;/list-item&gt;
&lt;/virtual-scroll&gt;</code></pre>
        </section>
        <section class="post">
          <h2>If container size change</h2>
          If virtual scroll is used within a dropdown or collapsible menu, virtual scroll needs to know when the container size change.
          Use <strong>refresh()</strong> function after container is resized (include time for animation as well).
          <pre><code class="typescript">import { Component, ViewChild } from '@angular/core';
import { VirtualScrollComponent } from 'angular2-virtual-scroll';

@Component({
    selector: 'rj-list',
    template: `
        &lt;virtual-scroll [items]="items" (update)="scrollList = $event"&gt;
            &lt;div *ngFor="let item of scrollList; let i = index"&gt; {{i}}: {{item}} &lt;/div&gt;
        &lt;/virtual-scroll&gt;
    `
})
export class ListComponent {

    protected items = ['Item1', 'Item2', 'Item3'];

    @ViewChild(VirtualScrollComponent)
    private virtualScroll: VirtualScrollComponent;

    // call this function after resize + animation end
    afterResize() {
        this.virtualScroll.refresh();
    }
}</code></pre>
        </section>
        <section id="versions">
          <h1>Versions</h1>
          <p>
            <a href="https://github.com/rintoj/angular2-virtual-scroll/blob/master/CHANGELOG.md">Check Changelog</a>
          </p>
        </section>
        <section>
          <h1>License</h1>
          <p>The MIT License (MIT) Copyright (c) 2016 Rinto Jose (rintoj)</p>
        </section>
      </div>
      <div class="footer">
        <div class="pure-menu pure-menu-horizontal">
          <strong>Rinto Jose (rintoj)</strong>
          <ul>
            <li class="pure-menu-item"><a class="pure-menu-link" href="https://github.com/rintoj">Github</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="https://www.facebook.com/rinto.jose">Facebook</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="https://twitter.com/rintoj">Twitter</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="https://youtube.com/+RintoJoseMankudy">YouTube</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
