@import 'variables';

/* styles */

body {
  margin: 0;
  font-family: 'Noto Sans';
  font-size: 16px;
  color: $secondary-text;
  background: url('assets/images/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  font-weight: normal;
  margin-top: 2rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $semi-transparent;
  color: $secondary-text;
  z-index: 1;
  a {
    text-decoration: none;
    color: $secondary-text;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    &:hover {
      background: $primary-color;
      &.selected a,
      a {
        color: $primary-text;
      }
    }
    a {
      display: block;
      padding: 10px;
      width: 100%;
      height: 100%;
    }
    &.selected {
      border-bottom: 3px solid $primary-color;
      a {
        color: $primary-color;
      }
    }
  }
  li:nth-child(1) {
    font-size: 1.15em;
    font-weight: bold;
  }
  @media(max-width: 600px) {
    li {
      //   display: none;
      display: block;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: opacity .5s ease-out, max-height .2s ease-out;
      &.selected {
        max-height: 50px;
        border-bottom: 0;
        opacity: 1;
      }
    }
    ul {
      &.open {
        li {
          max-height: 50px;
          opacity: 1;
        }
      }
    }
  }
}

section {
  display: block;
  width: 100%;
  min-height: 10vh;
  overflow: hidden;
  position: relative;
  background: rgba(255, 255, 255, 0.88);
}

.header {
  min-height: 350px;
  height: 50vh;
  background: $primary-color;
  color: $dark-text;
  text-align: center;
  background: transparent;
  h1 {
    animation: slideup-header .5s ease-out;
    margin: 0 auto;
    width: 50%;
    min-width: 75px;
    &::after {
      content: ' ';
      background: $dark-text;
      position: relative;
      display: block;
      height: 2px;
      bottom: 0px;
      margin: 0 auto;
      animation: animate-underline 2s ease-out;
    }
  }
  p {
    animation: slideup-header 1s ease-out;
  }
  .content {
    max-width: 100%;
  }
  code {
    width: 35%;
    min-width: 336px;
    margin: 0 auto;
    // animation: slideup-header 1.5s ease-out;
  }
  .author {
    font-size: .8em;
    color: $secondary-text;
    >div {
      font-weight: bold;
      padding: 10px 0;
      animation: slideup-header 2s ease-out;
    }
    >span {
      display: block;
      animation: slideup-header 2.5s ease-out;
    }
  }
}

.content {
  width: calc(100% - 4rem);
  padding: 1rem 2rem;
  max-width: 1024px;
  margin: 0 auto;
}

.content-bottom {
  bottom: 1rem;
  position: absolute;
}

.col-8-12 {
  padding: 1rem;
}

.menu-selector {
  background: $primary-color;
  width: 3px;
  height: 15px;
  margin-top: 8px;
  position: absolute;
  transition: transform .2s ease-out;
}

@keyframes slideup-header {
  from {
    transform: translateY(4rem);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animate-underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

video {
  width: 100%;
}
