@import 'variables';

/* styles */

html {
  height: 100%;
  display: block;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  word-spacing: 0.05em;
  color: $primary-text;
  height: 100%;
  display: block;
  overflow: hidden;
}

h1 {
  font-weight: 600;
  color: $secondary-text;
}

h2 {
  font-weight: normal;
  margin-top: 2rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: $primary-text;
  z-index: 1;
  border-bottom: 1px solid $border-color;
  padding: 10px 7%;
  a {
    text-decoration: none;
    color: $secondary-text;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 8px;
    display: none;
    &:hover {
      color: $accent-color;
    }
    @media(max-width: 768px) {
      display: inline-block;
    }
  }
  li:nth-child(1) {
    font-size: 1.15em;
    font-weight: 600;
    display: inline-block;
  }
  @media(max-width: 600px) {
    li {
      //   display: none;
      display: block;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: opacity .5s ease-out, max-height .2s ease-out;
      &.selected {
        max-height: 50px;
        border-bottom: 0;
        opacity: 1;
      }
    }
    ul {
      &.open {
        li {
          max-height: 50px;
          opacity: 1;
        }
      }
    }
  }
}

main {
  display: block;
  height: calc(100% - 60px);
  position: relative;
  top: 60px;
  width: 90%;
  padding: 0 5%;
  overflow: auto;
}

.menu {
  padding: 20px;
  h1,
  h2,
  h3 {
    margin: 6px 0;
    padding: 0.2em;
    font-weight: 400;
  }
  h1 {
    font-size: 16px;
    font-weight: 600;
  }
  h2 {
    font-size: 14px;
  }
  h3 {
    font-size: 14px;
    margin-left: 10px;
  }
}
